<div id="users-container" class="list-group">
  <div class="card">
  <h3 class="card-header text-uppercase">First Name{{user.first_name}} Last Name {{user.last_name}}</h3>
  <div class="card-body" id="department-buttons">
    <a href="">{{user.phone}}Phone</a>
    <a href="">{{user.email}}Email</a>
    <a href="">{{user.role_id}}Department</a>
  </div>
</div>
</div>