<section>
  <div class="flex-row justify-space-between">
      <div class="col-12 col-md-4">
        <div class="card">
           <h1></h1>
          <h3 class="card-header text-uppercase">Search By Name</h3>
          <form method="GET" action="/dashboard/users-by-name" enctype="multipart/form-data" id="user-form" class="card-body">
            <label class="form-label" for="first-name">First Name</label>
            <input name="first-name" id="first-name" type="text" autofocus="true" class="form-input" />
            <input type="submit" class="btn" id="get-user" value="Get User">
          </form>
        </div>
        <div class="card">
          <h3 class="card-header text-uppercase">Search All Users</h3>
          <div class="card-body" id="all-users">
            {{!-- href="/dashboard/all-users" --}}
            <a class="btn"   id="all-users">Search All Users</a>
          </div>
        </div>

        <div class="card">
          <h3 class="card-header text-uppercase">Search Employees By Department</h3>
          <div class="card-body" id="department-buttons">
            {{#each departments as |department| }}
            {{!-- {{> user-info-button user}} --}}
                {{!-- href="/dashboard/{{name}}" --}}
            <a class="btn"  department="{{name}}" id="{{name}}">{{name}}</a>
            {{/each}}

          </div>
        </div>

        <div class="card">
          <h3 class="card-header text-uppercase">Update Your Information</h3>
          <div class="card-body" id="update-button">
            <p>If this is your first time visiting, please make sure to enter the rest of your information so your coworkers can find you!</p>
            {{!-- href="/dashboard/edit/{{id}}" --}}
            <a class="btn" id="update-btn" href="/dashboard/edit/{{id}}">Update Info</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8 myframe">
        {{!-- height: 100vh in iframe element for media style screen size med and down --}}
        <iframe id="myframe" src="dashboard/edit/4" width="100%" frameborder=""></iframe>
        {{#each user as |user| }}
        
        
        {{> user-info department}}
        
        {{/each}}
      </div>
  </div>
</section>

<script src="/javascript/dashboard.js"></script>
