<section>
  <div class="flex-row justify-space-between">
      <div class="col-12 col-md-4">
        <div class="card">
           <h1>{{id}}</h1>
          <h3 class="card-header text-uppercase">Search By Name</h3>
          <form id="user-form" class="card-body">
            <label class="form-label" for="first-name">First Name</label>
            <input name="first-name" id="first-name" type="text" autofocus="true" class="form-input" />
            <button type="submit" class="btn">Get User</button>
          </form>
        </div>
        <div class="card">
          <h3 class="card-header text-uppercase">Search All Users</h3>
          <div class="card-body" id="all-users">
            <button class="btn"  id="search-all-users">Search All Users</button>
          </div>
        </div>

        <div class="card">
          <h3 class="card-header text-uppercase">Search Employees By Department</h3>
          <div class="card-body" id="department-buttons">
            {{#each departments as |department|}}
            {{> user-info-button department}}
            
            {{/each}}

          </div>
        </div>

        <div class="card">
          <h3 class="card-header text-uppercase">Update Your Information</h3>
          <div class="card-body" id="update-button">
            <p>If this is your first time visiting, please make sure to enter the rest of your information so your coworkers can find you!</p>
<<<<<<< HEAD
            <button class="btn" id="update-btn" href="/dashboard/account">Update Info</button>
=======
            <a class="btn" id="update-btn" href="/dashboard/edit/{{id}}
            ">Update Info</a>
>>>>>>> b4c70f0c668bfc424a335a9d58fd3a2be7766ce4
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <h2 class="subtitle">Showing Results for for: <span id="user-search-term"></span></h2>
        {{#each users as |user| }}
        <div id="users-container" class="list-group">
          <div class="card">
          <h3 class="card-header text-uppercase">First Name{{first_name}} Last Name {{last_name}}</h3>
          <div class="card-body" id="department-buttons">
            <a>Username: {{username}}</a><br>
            <a href="">Phone: {{phone}}</a>
            <a href="">Email: {{email}}</a>
            <a href="">Department: {{role_id}}</a>
        {{/each}}
        <div id="users-container" class="list-group">
          <div class="card">
          <h3 class="card-header text-uppercase">Dummy Data</h3>
          <div class="card-body" id="department-buttons">
            <a>Username: dummy_user</a><br>
            <a>Phone: 555-555-5555</a><br>
            <a>Email: dummy@email.com</a><br>
            <a>Department: dummy department</a><br>
          </div>
        </div>
        </div>
        
      </div>
  </div>
</section>

<script src="/javascript/dashboard.js"></script>
