{{#each user as |user| }}
<h1 class="user-card">Your User Info:</h1>
<div id="users-container" class="list-group">  
  <div class="card">
  <h3 class="card-header text-uppercase">{{first_name}} {{last_name}}</h3>
  <div class="card-body" id="department-buttons">
    <img src="{{avatar}}" alt="users avatar" width="190" height="175"><br>
    <a>Title: {{role.title}}</a><br>
    <a>Phone: {{phone}}</a><br>
    <a>Email: {{email}}</a><br>
    <a>Department: {{role.department.name}}</a><br>
  </div>
</div>
</div>
{{/each}}