<h2 class="subtitle">Sales</h2>
<div class="usercardsneo">

{{#each user as |user| }}
<div id="users-container" class="list-group">
  <div class="card">
    <h2 class="card-header text-uppercase">{{first_name}} {{last_name}}</h2>
    <div class="card-body" id="department-buttons">
      <img src="{{avatar}}" alt="users avatar" width="190" height="175"><br>

      <div class="cardtext">
      <div>
          <i class="fas fa-envelope-open-text"></i>
        <a href="{{email}}">{{email}}</a>
      </div>
      <div>
        <i class="fas fa-phone"></i>
        <a href="tel:{{phone}}">{{phone}}</a>
      </div>
      <div>
     
      </div>
      <div>
        <i class="fas fa-building"></i>
        {{role.department.name}}
      </div>
    </div>
  </div>
</div>
</div>
{{/each}}
</div>