<h2 class="subtitle">Showing Results for for: <span id="user-search-term">{{first_name}}</span></h2>

{{!-- {{#each users as |user| }} --}}
{{log users as |user| 'logging user'}}

<div id="users-container" class="list-group">  
  <div class="card">
  <h3 class="card-header text-uppercase">{{first_name}} {{last_name}}</h3>
  <div class="card-body" id="department-buttons">
    <img src="{{avatar}}" alt="users avatar" width="75" height="175"><br>
    <a>Title: {{role.title}}</a><br>
    <a>Phone: {{phone}}</a><br>
    <a>Email: {{email}}</a><br>
    <a>Department: {{role.department.name}}</a><br>
  </div>
</div>
</div>
{{!-- {{/each}} --}}
