<h1 class="center-text">Search Results:</h1>
<div class="usercardsneo">
{{#each users as |user| }}
<div id="users-container" class="list-group">  
  <div class="card">
  <h4 class="card-header text-uppercase">{{first_name}} {{last_name}}</h4>
  <div class="card-body" id="department-buttons">
    <img src="{{avatar}}" alt="users avatar" width="190" height="175"><br>
    <div class="cardtext">
    <div>Title: {{role.title}}</div>
    <div>Phone: 
      <a href="tel:{{phone}}">{{phone}}</a>
      </div>
    <div>Email:
      <a href="{{email}}">{{email}}</a>
      </div>
    <div>Department: {{role.department.name}}</div>
  </div>
</div>
</div>
</div>
{{/each}}
</div>